.menu {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.cartas {
  margin: 2px auto;
}

.div-footer {
  border: 3px solid;
  background-color: white;
}

.parrafo-footer {
  text-align: center;
  font-size: 30px;
  margin: 5px auto;
  padding: 5px;
}

.parrafo {
  border: 1px solid black;
  margin: 40px;
  background-color: beige;
  font-size: 20px;
}