* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: beige;
}

.menu {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.notificacion {
  width: 50rem;
  height: 6rem;
}

p {
  font-size: 60px;
}

.div-footer {
  border: 3px solid;
  background-color: white;
}

.parrafo-footer {
  text-align: center;
  font-size: 30px;
  margin: 5px auto;
  padding: 5px;
}
